<b-col id="test_data_distances_for_dimensions">
    <b-row>
        <b-form inline>
            <b-form-group
                    label="From:"
                    label-for="form_from_input">
                <b-form-input id="form_from_input"
                      type="number"
                      v-model="form.from"
                      @change="setUpCharts"
                      required>
                </b-form-input>
            </b-form-group>
            <b-form-group
                    label="To:"
                    label-for="form_to_input">
                <b-form-input id="form_to_input"
                      type="number"
                      v-model="form.to"
                      @change="setUpCharts"
                      required>
                </b-form-input>
            </b-form-group>
        </b-form>
    </b-row>
    <br />

    <b-row>
        <h4>Distances</h4>
        <div class="chart-container">
            <LineChart
                :data="distancesChartData"
                :labels="distancesChartLabels"
            />
        </div>
    </b-row>
    <br />

    <b-row>
        <h4>Min / Avg</h4>
        <div class="chart-container">
            <LineChart
                :data="ratioChartData"
                :labels="ratioChartLabels"
            />
        </div>
    </b-row>
</b-col>