<b-col id="test_probability_normal_distribution">

    <b-row>
        <b-form @submit="setUpChart" inline>
            <b-form-group
                    label="From:"
                    label-for="from_input">
                <b-form-input id="from_input"
                      type="text"
                      v-model="from"
                      required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="To:"
                    label-for="to_input">
                <b-form-input id="to_input"
                      type="text"
                      v-model="to"
                      required>
                </b-form-input>
            </b-form-group>
            <b-form-group
                    label="Step:"
                    label-for="step_input">
                <b-form-input id="step_input"
                      type="text"
                      v-model="step"
                      required>
                </b-form-input>
            </b-form-group>
        </b-form>
    </b-row>

    <b-row>
        <b-form @submit="setUpChart" inline>
            <b-form-group
                    label="Mu 1:"
                    label-for="form1_mu_input">
                <b-form-input id="form1_mu_input"
                              type="text"
                              v-model="form1.mu"
                              required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Sigma 1:"
                    label-for="form1_sigma_input">
                <b-form-input id="form1_sigma_input"
                              type="text"
                              v-model="form1.sigma"
                              required>
                </b-form-input>
            </b-form-group>
        </b-form>
    </b-row>

    <b-row>
        <b-form @submit="setUpChart" inline>
            <b-form-group
                    label="Mu 2:"
                    label-for="form2_mu_input">
                <b-form-input id="form2_mu_input"
                              type="text"
                              v-model="form2.mu"
                              required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Sigma 2:"
                    label-for="form2_sigma_input">
                <b-form-input id="form2_sigma_input"
                              type="text"
                              v-model="form2.sigma"
                              required>
                </b-form-input>
            </b-form-group>
        </b-form>
    </b-row>

    <b-row>
        <b-form @submit="setUpChart" inline>
            <b-form-group
                    label="Mu 3:"
                    label-for="form3_mu_input">
                <b-form-input id="form3_mu_input"
                              type="text"
                              v-model="form3.mu"
                              required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Sigma 3:"
                    label-for="form3_sigma_input">
                <b-form-input id="form3_sigma_input"
                              type="text"
                              v-model="form3.sigma"
                              required>
                </b-form-input>
            </b-form-group>
        </b-form>
    </b-row>

    <b-row>
        <b-form @submit="setUpChart" inline>
            <b-form-group
                    label="Mu 4:"
                    label-for="form4_mu_input">
                <b-form-input id="form4_mu_input"
                              type="text"
                              v-model="form4.mu"
                              required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Sigma 4:"
                    label-for="form4_sigma_input">
                <b-form-input id="form4_sigma_input"
                              type="text"
                              v-model="form4.sigma"
                              required>
                </b-form-input>
            </b-form-group>
        </b-form>
    </b-row>

    <b-row>
        <b-form @submit="setUpChart" inline>
            <b-form-group
                    label="Mu 5:"
                    label-for="form5_mu_input">
                <b-form-input id="form5_mu_input"
                              type="text"
                              v-model="form5.mu"
                              required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Sigma 5:"
                    label-for="form5_sigma_input">
                <b-form-input id="form5_sigma_input"
                              type="text"
                              v-model="form5.sigma"
                              required>
                </b-form-input>
            </b-form-group>

        </b-form>
    </b-row>

    <b-row>
        <b-button @click="setUpChart" type="submit" variant="primary">Set</b-button>
    </b-row>

    <br />
    <b-row>
        <h4>Normal distribution:</h4>
        <div class="chart-container">
            <LineChart
                :labels="chartLabelsD"
                :data="chartDataD"
                :options="chartOptions"
            />
        </div>
    </b-row>

    <br />
    <b-row>
        <h4>CDF:</h4>
        <div class="chart-container">
            <LineChart
                :labels="chartLabelsCDF"
                :data="chartDataCDF"
                :options="chartOptions"
            />
        </div>
    </b-row>
</b-col>