<b-col id="users_count_to_friends_count">
    <b-row>
        <b-form @submit="setUpChart" inline>

            <b-form-group
                    label="From:"
                    label-for="from_input">
                <b-form-input id="from_input"
                      type="number"
                      v-model="from"
                      required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="To:"
                    label-for="to_input">
                <b-form-input id="to_input"
                      type="number"
                      v-model="to"
                      required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Mu:"
                    label-for="mu_input">
                <b-form-input id="mu_input"
                      type="number"
                      v-model="mu"
                      required>
                </b-form-input>
            </b-form-group>

            <b-form-group
                    label="Sigma:"
                    label-for="sigma_input">
                <b-form-input id="sigma_input"
                      type="number"
                      v-model="sigma"
                      required>
                </b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Set</b-button>
        </b-form>
    </b-row>
    <b-row>
        <div class="chart-container">
            <LineChart
                :labels="chartLabels"
                :data="chartData"
                :options="chartOptions"
            />
        </div>
    </b-row>
</b-col>