# Editor directories and files
.idea

###> symfony/framework-bundle ###
/composer.lock
/composer.phar
/symfony.lock
/.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/cache/
/var/log/
/vendor/
/phpunit.xml
/.env.test
###< symfony/framework-bundle ###

###> VueJS-bundle ###
.DS_Store
/public/frontend/node_modules/
/public/frontend/dist/
/public/frontend/npm-debug.log*
/public/frontend/yarn-debug.log*
/public/frontend/yarn-error.log*
/public/frontend/test/unit/coverage/
###< VueJS-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
