<div id="account_form">

    <b-form @submit="successFrom">

        <p v-if="errors.length" align="left">
            <b>Please fix errors:</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>

        <b-form-group
                label="Username:"
                label-for="register_email_input"
                description="We'll never share your username with anyone else.">
            <b-form-input id="register_email_input"
                          type="email"
                          v-model="user.email"
                          required
                          placeholder="Enter username">
            </b-form-input>
        </b-form-group>

        <b-form-group
                label="First name:"
                label-for="register_first_name_input">
            <b-form-input id="register_first_name_input"
                          type="text"
                          v-model="user.firstName"
                          placeholder="Enter your first name">
            </b-form-input>
        </b-form-group>

        <b-form-group
                label="Last name:"
                label-for="register_last_name_input">
            <b-form-input id="register_last_name_input"
                          type="text"
                          v-model="user.lastName"
                          placeholder="Enter your last name">
            </b-form-input>
        </b-form-group>

        <b-form-group
                label="Sex:"
                label-for="register_sex_input">
            <b-form-select id="register_sex_input"
                    v-model="user.sex"
                    :options="sexNames"
                    required>
            </b-form-select>
        </b-form-group>

        <b-form-group
                label="Age:"
                label-for="register_age_input">
            <b-form-input id="register_age_input"
                          type="number"
                          :min="minAge"
                          :max="maxAge"
                          v-model="user.age"
                          required
                          placeholder="Enter your age">
            </b-form-input>
        </b-form-group>

        <b-form-group
                label="About me:"
                label-for="register_about_me_input">
            <b-form-textarea id="register_about_me_input"
                    rows="3"
                    maxrows="6"
                    v-model="user.aboutMe"
                    placeholder="Say few words about you">
            </b-form-textarea>
        </b-form-group>

        <b-form-group
                label="Password:"
                label-for="register_password_input">
            <b-form-input id="register_password_input"
                          type="password"
                          v-model="user.password"
                          :required="!user.isLogged"
                          placeholder="Enter password">
            </b-form-input>
        </b-form-group>

        <b-form-group
                label="Repeat password:"
                label-for="register_repeat_password_input">
            <b-form-input id="register_repeat_password_input"
                          type="password"
                          v-model="repeatPassword"
                          :required="!user.isLogged"
                          placeholder="Enter password one more time">
            </b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">{{ user.isLogged ? 'Update' : 'Register' }}</b-button>
    </b-form>
</div>