<div id="film_form">
    <b-form @submit="successForm">

        <p v-if="errors.length" align="left">
            <b>Please fix errors:</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>

        <p>
            <img :src="posterPreview" alt="" width="150px" />
        </p>

        <b-form-group
                label="Poster:"
                label-for="film_poster_input">
            <b-form-file id="film_poster_input"
                  v-model="film.poster"
                  @change="setPoster"
                  placeholder="Select the file for poster">
            </b-form-file>
        </b-form-group>

        <b-form-group
                label="Name:"
                label-for="film_name_input">
            <b-form-input id="film_name_input"
                  type="text"
                  v-model="film.name"
                  required
                  placeholder="Enter film name">
            </b-form-input>
        </b-form-group>

        <b-form-group>
            <label class="typo__label" for="film_genres_input">Genres:</label>
            <multiselect
                v-model="film.genres"
                id="film_genres_input"
                label="name"
                track-by="id"
                placeholder="Type to search"
                open-direction="bottom"
                :options="genresNames"
                :multiple="true"
                :searchable="true"
                :loading="false"
                :internal-search="false"
                :clear-on-select="true"
                :close-on-select="true"
                :options-limit="300"
                :max-height="600"
                :show-no-results="false"
                :hide-selected="true"
                @search-change="searchGenres">
            <template slot="tag"  slot-scope="{ option, remove }">
                <span class="custom__tag"><span>
                    {{ option.name }}
                </span><span class="custom__remove" @click="remove(option)">❌</span></span>
            </template>
            <span slot="noResult">No genres found</span>
            </multiselect>
        </b-form-group>

        <b-form-group>
            <label class="typo__label" for="film_companies_input">Companies:</label>
            <multiselect
                v-model="film.companies"
                id="film_companies_input"
                label="name"
                track-by="id"
                placeholder="Type to search"
                open-direction="bottom"
                :options="companiesNames"
                :multiple="true"
                :searchable="true"
                :loading="false"
                :internal-search="false"
                :clear-on-select="true"
                :close-on-select="false"
                :options-limit="300"
                :max-height="600"
                :show-no-results="false"
                :hide-selected="true"
                @input="addCompany"
                @search-change="searchCompanies">
            <template slot="tag"  slot-scope="{ option, remove }">
            <span class="custom__tag"><span>
                {{ option.name }}
            </span><span class="custom__remove" @click="remove(option)">❌</span></span>
            </template>
            <span slot="noResult">No companies found</span>
            </multiselect>
        </b-form-group>

        <b-form-group>
            <label class="typo__label" for="film_directors_input">Directors:</label>
            <multiselect
                    v-model="film.directors"
                    id="film_directors_input"
                    label="name"
                    track-by="id"
                    placeholder="Type to search"
                    open-direction="bottom"
                    :options="directorsNames"
                    :multiple="true"
                    :searchable="true"
                    :loading="false"
                    :internal-search="false"
                    :clear-on-select="true"
                    :close-on-select="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-no-results="false"
                    :hide-selected="true"
                    @input="addDirector"
                    @search-change="searchDirectors">
                <template slot="tag"  slot-scope="{ option, remove }">
            <span class="custom__tag"><span>
                {{ option.name }}
            </span><span class="custom__remove" @click="remove(option)">❌</span></span>
                </template>
                <span slot="noResult">No directors found</span>
            </multiselect>
        </b-form-group>

        <b-form-group>
            <label class="typo__label" for="film_actors_input">Actors:</label>
            <multiselect
                    v-model="film.actors"
                    id="film_actors_input"
                    label="name"
                    track-by="id"
                    placeholder="Type to search"
                    open-direction="bottom"
                    :options="actorsNames"
                    :multiple="true"
                    :searchable="true"
                    :loading="false"
                    :internal-search="false"
                    :clear-on-select="true"
                    :close-on-select="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-no-results="false"
                    :hide-selected="true"
                    @input="addActor"
                    @search-change="searchActors">
                <template slot="tag"  slot-scope="{ option, remove }">
            <span class="custom__tag"><span>
                {{ option.name }}
            </span><span class="custom__remove" @click="remove(option)">❌</span></span>
                </template>
                <span slot="noResult">No actors found</span>
            </multiselect>
        </b-form-group>

        <b-form-group>
            <label class="typo__label" for="film_producers_input">Producers:</label>
            <multiselect
                    v-model="film.producers"
                    id="film_producers_input"
                    label="name"
                    track-by="id"
                    placeholder="Type to search"
                    open-direction="bottom"
                    :options="producersNames"
                    :multiple="true"
                    :searchable="true"
                    :loading="false"
                    :internal-search="false"
                    :clear-on-select="true"
                    :close-on-select="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-no-results="false"
                    :hide-selected="true"
                    @input="addProducer"
                    @search-change="searchProducers">
                <template slot="tag"  slot-scope="{ option, remove }">
            <span class="custom__tag"><span>
                {{ option.name }}
            </span><span class="custom__remove" @click="remove(option)">❌</span></span>
                </template>
                <span slot="noResult">No producers found</span>
            </multiselect>
        </b-form-group>

        <b-form-group>
            <label class="typo__label" for="film_writers_input">Writers:</label>
            <multiselect
                    v-model="film.writers"
                    id="film_writers_input"
                    label="name"
                    track-by="id"
                    placeholder="Type to search"
                    open-direction="bottom"
                    :options="writersNames"
                    :multiple="true"
                    :searchable="true"
                    :loading="false"
                    :internal-search="false"
                    :clear-on-select="true"
                    :close-on-select="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-no-results="false"
                    :hide-selected="true"
                    @input="addWriter"
                    @search-change="searchWriters">
                <template slot="tag"  slot-scope="{ option, remove }">
            <span class="custom__tag"><span>
                {{ option.name }}
            </span><span class="custom__remove" @click="remove(option)">❌</span></span>
                </template>
                <span slot="noResult">No writers found</span>
            </multiselect>
        </b-form-group>

        <b-form-group>
            <label class="typo__label" for="film_premiums_input">Premiums:</label>
            <multiselect
                    v-model="film.premiums"
                    id="film_premiums_input"
                    label="name"
                    track-by="id"
                    placeholder="Type to search"
                    open-direction="bottom"
                    :options="premiumsNames"
                    :multiple="true"
                    :searchable="true"
                    :loading="false"
                    :internal-search="false"
                    :clear-on-select="true"
                    :close-on-select="false"
                    :options-limit="300"
                    :max-height="600"
                    :show-no-results="false"
                    :hide-selected="true"
                    @input="addPremium"
                    @search-change="searchPremiums">
                <template slot="tag"  slot-scope="{ option, remove }">
            <span class="custom__tag"><span>
                {{ option.name }}
            </span><span class="custom__remove" @click="remove(option)">❌</span></span>
                </template>
                <span slot="noResult">No premiums found</span>
            </multiselect>
        </b-form-group>

        <b-form-group>
            <label class="typo__label" for="film_languages_input">Languages:</label>
            <multiselect
                    v-model="film.languages"
                    id="film_languages_input"
                    label="name"
                    track-by="id"
                    open-direction="bottom"
                    :options="languagesNames"
                    :multiple="true"
                    :searchable="false"
                    :loading="false"
                    :internal-search="false"
                    :clear-on-select="true"
                    :close-on-select="true"
                    :options-limit="150"
                    :max-height="600"
                    :show-no-results="false"
                    :hide-selected="true">
                <template slot="tag"  slot-scope="{ option, remove }">
                    <span class="custom__tag"><span>
                        {{ option.name }}
                    </span><span class="custom__remove" @click="remove(option)">❌</span></span>
                </template>
            </multiselect>
        </b-form-group>

        <b-form-group
                label="Budget:"
                label-for="film_budget_input">
            <b-form-input id="film_budget_input"
                  type="number"
                  v-model="film.budget"
                  required
                  placeholder="Film budget">
            </b-form-input>
        </b-form-group>

        <b-form-group
                label="Sales:"
                label-for="film_sales_input">
            <b-form-input id="film_sales_input"
                  type="number"
                  v-model="film.sales"
                  required
                  placeholder="Film sales">
            </b-form-input>
        </b-form-group>

        <b-form-group
                label="Duration:"
                label-for="film_duration_input">
            <b-form-input id="film_duration_input"
                  type="number"
                  v-model="film.duration"
                  required
                  placeholder="Film duration">
            </b-form-input>
        </b-form-group>

        <b-form-group
                label="Date:"
                label-for="film_date_input">
            <datetime
                v-model="film.date"
                id="film_date_input"
                :format="dateFormat"
            >
            </datetime>
        </b-form-group>

        <b-button type="submit" variant="primary">{{ film.isNew ? 'Create' : 'Update' }}</b-button>
    </b-form>

</div>